
<body>
{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if session.username %}

<h3>You are logged in with the username: {{ session.username }}</h3>
<br>
<p>On this app you can search and buy tracks and upload your own ones. All kinds and all genres. Remember to like and comment the tracks you enjoyed!</p>
<br>

{% else %}
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Login">
</form>
<p>No account yet? <button><a href="/register">Register new account</a></button></p>
{% endif %}
{% endblock %}
</body>