<body>
    {% extends "layout.html" %}
    {% block title %}Etusivu{% endblock %}
    {% block content %}
{% if register == False %}
<form action="/register" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password1"></p>
<p>Confirm password:<br>
<input type="password" name="password2"></p>
<input type="submit" value="Register">
</form>
{% else %}
<p>You have registered a new account!</p>
<a href="/">Login</a>
{% endif %}
{% endblock %}
</body>