<h3>Search and buy music</h3>
<form action="/search_result" method="GET">  
    <label for="artist">Artist</label>
    <input type="radio" name="chooseone" id="artist" value="1">
    <div><label for="songname">Song name</label>
        <input type="radio" name="chooseone" id="songname" value="2"></div>
    <div><label for="genre">Genre</label>
        <input type="radio" name="chooseone" id="genre" value="3"></div>
    <input type="text" name="searchword"> 
    <input type="submit" value="Search">
</form>
<hr>
<p>All songs:</p>
<hr>

<p>Songs already bought:</p>
<br>
{% for song in results %}
<li> {{ song.artist }} - {{ song.track }} - 
    {% if song.coalesce == 0 %}
    <form action="/like" method="POST">
    <input type="hidden" name="id" value="{{ song.id }}">
    <input type="submit" value="Like"> </form> 
    {% else %}
        You liked this song
    {% endif %}
    <form action="/comment" method="POST">
    <input type="hidden" name="id" value="{{ song.id }}">
    <input type="text" name="comment">
    <input type="submit" value="Comment"> </form>
{% endfor %}
</ul>
<hr>
<a href="/">Back</a>

