<body>
{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if session.username %}
<h2>Search and buy music</h2>
<form action="/search_result" method="GET">  
    <label for="artist">Artist</label>
    <input type="radio" name="chooseone" id="artist" value="1" checked>
    <div><label for="songname">Song name</label>
        <input type="radio" name="chooseone" id="songname" value="2"></div>
    <div><label for="genre">Genre</label>
        <input type="radio" name="chooseone" id="genre" value="3"></div>
    <input type="text" name="searchword"> 
    <input type="submit" class="button" value="Search">
</form>
<hr>

<p>All songs:</p>
<table class="all_tracks">
    <tr class="not_these">
        <th>Artist</th>
        <th>Track</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Buy</th>
    </tr>
{% for track in sql_all_songs1 %}
<tr class="tracks">
    <td><a href="/track/{{ track.id }}">{{ track.artist }}</a></td>
    <td><a href="/track/{{ track.id }}">{{ track.track }}</a></td>
    <td><a href="/track/{{ track.id }}">{{ track.genre }}</a></td>
    <td><a href="/track/{{ track.id }}">{{ track.price }}</a></td>
    <td>
        <form action="/buy_song" method="POST">
            <input type="hidden" name="id" value="{{ track.id }}">
            <input type="submit" value="Buy"> </form></td>
    </tr>
{% endfor %}
</table>
<hr>

<p>Songs already bought:</p>
<table class="all_tracks">
    <tr>
        <th>Artist</th>
        <th>Track</th>
        <th>Like</th>
        <th>Comment</th>
    </tr>
{% for song in results %}
<tr class="tracks">
    <td><a href="/track/{{ song.id }}">{{ song.artist }}</a></td>
    <td><a href="/track/{{ song.id }}">{{ song.track }}</a></td>
    <td> 
    {% if song.liked == 0 %}
    <form action="/like" method="POST">
    <input type="hidden" name="id" value="{{ song.id }}">
    <input type="submit" value="Like"> </form> 
    {% else %}
        LIKED!
    {% endif %}</td>
    <td>
    <form action="/comment" method="POST">
    <input type="hidden" name="id" value="{{ song.id }}">
    <input class="comment" type="text" name="comment">
    <input type="submit" value="Comment"> </form></td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>You have to register first</p>
{% endif %}
{% endblock %}
</body>
