<body>
    {% extends "layout.html" %}
    {% block title %}Etusivu{% endblock %}
    {% block content %}
<h2>Upload your song</h2>
<form action="/upload" method="POST">
<p>Track name:<br>
<input type="text" name="songname"></p>
<p>Genre:<br>
<input type="texr" name="genre"></p>
<p>Price:<br>
<input type="number" step="0.1" name="price"></p>
<input type="submit" value="Lisää">
</form>
<hr>
<p>Tracks you have already uploaded:</p>
<br>
{% for song in results %}
<li> {{ song.track }} - {{ song.genre }} 
{% endfor %}
</ul>
<hr>
<p>You have earned {{ bought}} euros</p>
<a href="/">Back</a>
{% endblock %}
</body>